body {
  font-family: Arial, Helvetica, sans-serif;
}
.sidenav {
  height: 100%;
  background-color: #111111;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 160px; /* Same as width of the side nav*/
  font-size: 20px; /*Increased text to enable scrolling */
  padding: 0px 10px;
}
#the-canvas {
  border: 1px solid black;
  direction: ltr;
  width: 700px;
  height: 100%;
}
#prev #next {
  font-size: 15px !important;
}
