<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.228/pdf.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="sidenav">
        <p>Lab Contents</p>
        <p>Progress</p>
        <p>Contacts</p>
        <p>Policies</p>
        <p>Exit</p>
    </div>
    <div class="main">
        <div>
            <div style="float:left">
                <p>Lab Contents</p>
                <a href="lab_content.html">def</a>
            </div>
            <div style="float:right">
                <p>SE13001</p>
            </div>
            <div style="width: 100%; float: left;">
                <div style="float:left">
                    <button id="prev" style="font-size: 15px;">Previous</button>
                    <button id="next" style="font-size: 15px;">Next</button>
                    <span style="font-size: 15px;">Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                    <br>
                    <canvas id="the-canvas"></canvas>
                </div>

            </div>
        </div>
</body>
<script src="/pdfPaging.js" id="script"></script>
</html>